<div style="height: 59px"></div>
<header class="fixed-top">
  <nav
    class="navbar navbar-expand-sm navbar-dark bg-dark"
    aria-label="Fifth navbar example"
  >
    <div class="container-fluid">
      <a routerLink="/" class="navbar-brand">
        <i class="bi bi-pc-display fs-4 me-2" aria-label="logo Deerhou"></i>
        Deerhou
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarHeader"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarHeader"
      >
        <ul class="nav col col-lg-auto text-small justify-content-end">
          <li *ngFor="let item of menuItems">
            <a
              role="button"
              [routerLink]="item.routerLink"
              routerLinkActive="text-danger"
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link text-secondary"
            >
              <i class="text-center fs-4 d-block" [class]="item.icon"></i>
              {{ item.label }}
            </a>
          </li>
          <li>
            <a
              role="button"
              target="_blank"
              href="../../../../assets/docs/david_espinoza_romero.pdf"
              download="david_espinoza_romero.pdf"
              class="nav-link text-secondary"
            >
              <i
                class="text-center fs-4 d-block bi bi-file-earmark-pdf-fill"
              ></i>
              CV
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
