<h2 class="mb-4"><i class="bi bi-person-circle"></i> Sobre mi</h2>
<div class="bento-grid-container">
  <h3 class="text-center pitch">
    ¡Construir aplicaciones digitales es la mejor forma de cambiar el mundo para
    mejorarlo!
  </h3>

  <p class="fs-5 pitch">
    Soy desarrollador frontend y me especializo en crear aplicaciones web que no
    solo se vean bien, sino que también sean funcionales y fáciles de usar.
  </p>

  <p class="fs-5 pitch">
    Todos nos hemos encontrado con aplicaciones que son confusas y complicadas
    de usar. Esa mala experiencia de usuario, aleja a los clientes. Es por eso
    que me dedico a colaborar con equipos multidisciplinarios, comunicándome
    efectivamente para comprender las necesidades del usuario y traducirlas en
    soluciones técnicas.
  </p>

  <p class="pitch">
    Llevo más de tres años trabajando con las tecnoligias de
    <strong
      >Angular, Bootstrap, Jasmine/Jest, Testing-Library, metodología agile
      Scrum, Git para control de versiones.</strong
    >
    acompañados de buenas prácticas y pruebas unitarias dan resultado un
    producto escalable y de calidad.
  </p>

  <p class="fs-5 pitch">
    Mi primer desafío en el mundo laboral, fue mi falta de conocimiento en
    diferentes tecnologías como Angular, Typescript, Scrum, además de no haber
    trabajado en equipo antes. Esto marcó un antes y un después, ya que me ha
    permitido desarrollar habilidades valiosas como la resiliencia, la
    disciplina, ser proactivo, mejorar mi comunicación, esto a su vez me ha
    llevado a crecer aún más como programador y tener éxito en mi carrera.
  </p>

  <p class="pitch">
    Como frontend developer propuse crear sistemas de diseño para el
    departamento de TI. El resultado fue muy positivo, ya que facilitó la
    maquetación de los diseños y mejoró la calidad del proyecto en general.
  </p>

  <p class="pitch">
    Prevení sobre los problemas que generaría la estructura actual del proyecto
    dando la solución al problema incluyendo una estimación de tiempo.
  </p>

  <p class="pitch">
    Restructure una aplicación haciéndola más rápida, mejorando la experiencia
    de usuario, haciéndola fácil de mantener e implementar nuevas
    funcionalidades.
  </p>
</div>
