<div class="nav-container">
  <div class="navigation" [ngClass]="{'side-colapse': sideToggle}">
    <ul class="list-unstyled">
      <li class="nav-item" *ngFor="let item of items; let i = index">
        <a class="nav-link text-white fs-4" href="#" [ngClass]="{'mb-5': i==0}">
          <span class="icon" [class]="item.icon"></span>
          <span *ngIf="!sideToggle" class="ps-3 title">
            {{item.title | titlecase}}
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="main" [ngClass]="{'side-colapse': sideToggle}">
  <!-- #region top bar -->
  <div class="topbar py-3 d-flex justify-content-between align-items-center">
    <div class="toggle p-3" (click)="sideToggle = !sideToggle">
      <i class="bi bi-list fs-3" role="button"></i>
    </div>

    <div class="input-group justify-content-center search">
      <input
        type="text"
        name="search"
        placeholder="search here"
        class="form-control"
        aria-label="search here"
        style="max-width: 40%;"
      />
      <label for="search" class="bi bi-search input-group-text"></label>
    </div>

    <div class="user p-3">
      <img
        role="button"
        class="img-thumbnail rounded-circle"
        src="https://randomuser.me/api/portraits/women/6.jpg"
        alt="user img"
      />
    </div>
  </div>
  <!-- #endregion top bar -->

  <!-- #region  -->
  <div class="row">
    <div class="col" *ngFor="let item of itemsmain">
      <div class="card shadow-card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-primary">{{ item.number }}</h5>
          <h6 class="card-subtitle text-muted">{{ item.title | titlecase}}</h6>
          <span class="float-end" [class]="item.icon"></span>
        </div>
      </div>
      <!-- <div class="m-3 p-3 shadow-card">
				<span class="float-right" [class]="item.icon"></span>
				<span class="text-primary"> {{item.number }} </span>
				<span class="text-primary"> {{item.title | titlecase}} </span>
			</div> -->
    </div>
  </div>

  <!-- #endregion -->
</div>
<!-- https://randomuser.me/api/portraits/women/6.jpg -->
