<form (ngSubmit)="onSubmit(contactForm)" [formGroup]="contactForm">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      id="email"
      class="form-control"
      formControlName="email"
      type="email"
      placeholder="name@example.com"
      [ngClass]="{ 'is-invalid': utils.isValidControl(contactForm, 'email') }"
    />
    <small
      *ngIf="utils.isValidControl(contactForm, 'email')"
      id="helpId"
      class="form-text text-danger"
      >email not valid</small
    >
  </div>
  <div class="mb-3">
    <label for="comment" class="form-label">Message</label>
    <textarea
      id="comment"
      class="form-control"
      formControlName="comment"
      rows="3"
      [ngClass]="{ 'is-invalid': utils.isValidControl(contactForm, 'comment') }"
    ></textarea>
    <small
      *ngIf="utils.isValidControl(contactForm, 'comment')"
      id="helpId"
      class="form-text text-danger"
      >min 5 letters</small
    >
  </div>

  <button class="btn btn-outline-secondary" type="submit">Enviar</button>
</form>
