<form (ngSubmit)="onSubmit(contactForm)" [formGroup]="contactForm">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      id="email"
      class="form-control"
      formControlName="email"
      type="email"
      placeholder="ethan.hopkins@example.com"
      [ngClass]="{ 'is-invalid': utils.isValidControl(contactForm, 'email') }"
    />
    <small
      *ngIf="utils.isValidControl(contactForm, 'email')"
      id="helpId"
      class="form-text text-danger"
      >email not valid</small
    >
  </div>
  <div class="mb-3">
    <label for="message" class="form-label">Message</label>
    <textarea
      id="message"
      class="form-control"
      formControlName="message"
      rows="3"
      [ngClass]="{ 'is-invalid': utils.isValidControl(contactForm, 'message') }"
      placeholder="Hi, My name is Ethan Hopkins and I would like to know more about or need help whit 'Web App'. Please contact me at '(280) 443-6020', to talk about needs of my clients."
    ></textarea>
    <small
      *ngIf="utils.isValidControl(contactForm, 'message')"
      id="helpId"
      class="form-text text-danger"
      >min 5 letters</small
    >
  </div>

  <button class="btn btn-outline-secondary" type="submit">Send</button>
</form>
