section {
  position: absolute;
  padding: .5rem 0;
  width: 100vw;
  width: 100svw;
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000, crimson, #000);
    animation: bgAnimated 5s linear infinite;
  }

  span {
    position: relative;
    display: block;
    width: calc(20vw - 4px);
    width: calc(20svw - 4px);
    aspect-ratio: 1;
    background-color: #181818;
    z-index: 0;
    transition: 1.5s;

    &:hover {
      background-color: crimson;
      transition: 0s;
    }
  }

  @media (min-width: 600px) {
    span {
      width: calc(10vw - 4px);
      width: calc(10svw - 4px);
      aspect-ratio: 1;
    }
  }
  @media (min-width: 900px) {
    span {
      width: calc(6.25vw - 4px);
      width: calc(6.25svw - 4px);
      aspect-ratio: 1;
    }
  }
}


@keyframes bgAnimated {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}