<router-outlet></router-outlet>

<!-- <main>
      <section id="about">
        <h2>Sobre mi</h2>
        <p>Tengo una pasión por el desarrollo web y una habilidad para crear experiencias en línea impresionantes y atractivas. Disfruto de la creación de diseños innovadores y funcionales, y de trabajar en equipo para encontrar soluciones creativas a problemas técnicos. Siempre estoy buscando aprender y mejorar mis habilidades para mantenerme actualizado en el mundo del desarrollo web y ofrecer los mejores resultados posibles a mis clientes y usuarios finales.</p>
      </section>
      <section id="skills">
        <h2>Habilidades</h2>
        <ul>
          <li>Tecnología 1</li>
          <li>Tecnología 2</li>
          <li>Tecnología 3</li>
        </ul>
      </section>
      <section id="portfolio">
        <h2>Portafolio</h2>
        <ul>
          <li>
            <h3>Nombre del proyecto</h3>
            <p>Descripción breve del proyecto.</p>
            <p>Tecnologías utilizadas: Tecnología 1, Tecnología 2, Tecnología 3.</p>
          </li>
          <li>
            <h3>Nombre del proyecto</h3>
            <p>Descripción breve del proyecto.</p>
            <p>Tecnologías utilizadas: Tecnología 1, Tecnología 2, Tecnología 3.</p>
          </li>
        </ul>
      </section>
      <section id="blog">
        <h2>Blog</h2>
        <ul>
          <li>
            <h3>Título del artículo</h3>
            <p>Descripción breve del artículo.</p>
            <p><a href="#">Leer más</a></p>
          </li>
          <li>
            <h3>Título del artículo</h3>
            <p>Descripción breve del artículo.</p>
            <p><a href="#">Leer más</a></p>
          </li>
        </ul>
      </section>
      <section id="contact">
        <h2>Contacto</h2>
        <form>
          <label for="name">Nombre:</label>
          <input type="text" id="name" name="name"><br>
          <label for="email">Correo electrónico:</label>
          <input type="email" id="email" name="email"><br>
          <label for="message">Mensaje:</label>
          <textarea id="message" name="message"></textarea><br>
          <input type="submit" value="Enviar">
        </form>
      </section>
    </main>
    <footer>
      <p>Copyright © Año - Nombre del desarrollador</p>
    </footer> -->
