<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand">Brand</a>
  <button
    class="navbar-toggler"
    data-target="#my-nav"
    data-toggle="collapse"
    aria-controls="my-nav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="my-nav" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <img
        src="https://img.freepik.com/free-photo/beautiful-shot-ma-shan-country-park-hong-kong_181624-47956.jpg?t=st=1650137364~exp=1650137964~hmac=3ac94354cee7177eac26aceb9be5266981403e350a6e775e5e59747a4ebce1f8&w=900"
        alt="test img"
      />
    </div>
  </div>
</div>
