<footer class="p-3 text-bg-dark">
  <div class="row ms-3 justify-content-between">
    <div class="col-6 col-md-2 mb-3">
      <h5 class="fs-4 ff-t">Productos</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Home</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Features</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Pricing</a>
        </li>
        <!-- <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">FAQs</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">About</a>
        </li> -->
      </ul>
    </div>

    <div class="col-6 px-4">
      <p class="h4">Send me a message</p>

      <app-contact-form> </app-contact-form>
    </div>
  </div>

  <div class="row px-3 justify-content-between">
    <div class="col-auto">© 2021 Deerhou, Inc. All rights reserved.</div>
    <div class="col-auto text-end">
      <a
        href="https://linkedin.com/in/david-emanuel-espinoza-romero-deerhou/"
        target="_blank"
        rel="noopener noreferrer"
        class="me-3"
      >
        <i class="h3 bi bi-linkedin" style="color: #0a66c2" aria-hidden="true">
        </i>
      </a>

      <a
        href="https://github.com/DavidEspinozaRomero"
        target="_blank"
        rel="noopener noreferrer"
        class=""
      >
        <i class="h3 text-white bi bi-github" aria-hidden="true"> </i>
      </a>
    </div>
  </div>
</footer>
