<main class="not-found p-3">
  <h1 class="not-found__title">404 NOT FOUND</h1>
  <div class="row">
    <div class="col">
      <img
        class="not-found__img animate__animated animate__wobble"
        src="../../../assets/imgs/Scarecrow.png"
        alt=""
      />
    </div>
    <div class="col">
      <div class="not-found__content">
        <h2 class="not-found__subtitle">I have bad news for you</h2>
        <p class="not-found__text">
          The page you are looking for might be removed or is temporarily
          unavailable
        </p>
        <a class="not-found__home" href="/">BACK TO HOMEPAGE</a>
      </div>
    </div>
  </div>
  <!-- <p class="not-found__author">David Espinoza @challenge</p> -->
</main>
