#work-experience {
  display: flex;
  align-items: center;
  justify-content: center;
}
.exp {
  max-width: 700px;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0 0 0 / 75%);
}

.available-to-work {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  // border: 3px solid crimson;
  border-radius: 1rem;
  box-shadow: inset 0px 0px 8px 0px crimson, 0px 0px 4px 0px crimson;
  transition: 0.3s ease;
  text-decoration: none;
  color: snow;
  animation: shadowmovebtn 3s ease-out infinite;

  &:hover {
    font-weight: 400;
    box-shadow: inset 0px 0px 8px 0px crimson, 4px 4px 8px 0px crimson;
    scale: 1.1;
    color: crimson;
    animation: none;
  }
}

.card-title {
  position: relative;
  max-width: 600px;
}

.card-text {
  position: relative;
}

.icon {
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-style: none;
  border-radius: 1rem;
  text-decoration: none;
  color: snow;
  box-shadow: 1px 1px 4px 0px crimson;
}

.card-semi-glass {
  transform: translateY(1rem);
  border-radius: 1rem;
  box-shadow: inset 0px 0px 8px 0px crimson, 4px 4px 8px 0px crimson;
  transition: 0.5s ease;
  filter: grayscale(1);

  &::after {
    content: "";
  }
  &::before {
    content: "";
  }

  &:hover {
    transform: translateY(-0.5rem);
    filter: grayscale(0);

    & .iconRotateY {
      animation: rotateIconY 4s linear forwards infinite;
    }
  }
}

.gearSpin-a {
  animation: gearSpin 2s linear forwards infinite;
}

@keyframes rotateIconY {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

// projects
#projects-view {
  position: relative;
  // width: 100vw;
  // width: 100svw;
  height: 100vh;
  height: 100svh;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  // overflow: hidden;
}

.btn-animated-pulse {
  border-radius: 0.5rem;
  animation: btnPulse 3s ease-out infinite;
}

.bg-animated-overlay {
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  animation: btnPulse 3s ease-out infinite;
}

@keyframes btnPulse {
  0% {
    box-shadow: 0px 0px 0rem 0 crimson;
  }
  50% {
    box-shadow: 0px 0px 0.5rem 0.25rem crimson;
  }
}

.pulse span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  opacity: 0.8;
  animation: pulseAnimate 4s ease-out infinite;
}

@keyframes pulseAnimate {
  100% {
    opacity: 0;
    transform: scale(2);
  }
  // 50% {
  //   box-shadow: 0px 0px 0.5rem 0.25rem crimson;
  // }
  // 100% {
  //   box-shadow: 0px 0px 0rem 0 crimson;
  // }
}

// animation shadowmovebtn
@keyframes shadowmovebtn {
  0% {
    box-shadow: inset 0px 0px 8px 0px crimson, 2px 0px 4px crimson;
  }
  25% {
    box-shadow: inset 0px 0px 8px 0px crimson, 2px 2px 4px crimson;
  }
  50% {
    box-shadow: inset 0px 0px 8px 0px crimson, -2px 2px 4px crimson;
  }
  75% {
    box-shadow: inset 0px 0px 8px 0px crimson, -2px -2px 4px crimson;
  }
  100% {
    box-shadow: inset 0px 0px 8px 0px crimson, 2px 0px 4px crimson;
  }
}
