.card-title {
  position: relative;
}

.card-text {
  position: relative;
}

.card-semi-glass {
  transform: translateY(1rem);
  border-radius: 1rem;
  box-shadow: inset 0px 0px 8px 0px crimson, 4px 4px 8px 0px crimson;
  transition: 0.5s ease;
  filter: grayscale(1);

  &::after {
    content: "";
  }
  &::before {
    content: "";
  }

  &:hover {
    transform: translateY(-0.5rem);
    filter: grayscale(0);

    & .iconRotateY {
      animation: rotateIconY 4s linear forwards infinite;
    }
  }
}

.gearSpin-a {
  animation: gearSpin 2s linear forwards infinite;
}

@keyframes rotateIconY {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

// projects
#projects {
  position: relative;
  // width: 100vw;
  // width: 100svw;
  height: 100vh;
  height: 100svh;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  // overflow: hidden;
}

.bg-animated-overlay {
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  animation: btnPulse 3s ease-out infinite;
}

@keyframes btnPulse {
  0% {
    box-shadow: 0px 0px 0rem 0 crimson;
  }
  50% {
    box-shadow: 0px 0px 0.5rem 0.25rem crimson;
  }
}

.pulse span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  opacity: 0.8;
  animation: pulseAnimate 4s ease-out infinite;
}

@keyframes pulseAnimate {
  100% {
    opacity: 0;
    transform: scale(2);
  }
  // 50% {
  //   box-shadow: 0px 0px 0.5rem 0.25rem crimson;
  // }
  // 100% {
  //   box-shadow: 0px 0px 0rem 0 crimson;
  // }
}
