<!-- <div class="bg-soft-primary" style="height: 100px;"></div> -->

<main class="bg-black text-white">
  <section id="intro" class="card border-0">
    <app-img
      path="https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      altImg="workstation developer"
      classes="card-img ar-16 vh-90"
      [lazyLoading]="false"
    >
    </app-img>
    <div
      class="card-img-overlay d-flex justify-content-center align-items-center"
    >
      <div class="">
        <div class="d-flex align-items-center mb-3">
          <app-img
            path="assets/photos/david_e.jpg"
            altImg="david espinoza photo"
            classes="card-photo rounded-circle"
            [lazyLoading]="false"
          >
          </app-img>
          <a
            href="https://linkedin.com/in/david-emanuel-espinoza-romero-deerhou/"
            class="available-to-work"
            >Disponible para trabajar</a
          >
        </div>
        <h2 class="card-title">
          David Espinoza Romero
          <!-- <app-smoke-text paragraph="David Espinoza Romero"></app-smoke-text> -->
        </h2>
        <p class="card-text">
          <strong>
            <app-smoke-text
              paragraph="3+ Frontend Developer | Es6+ | Typescript | Angular | Unit Testing | Node | Nest.js | SQL | Postgres"
            ></app-smoke-text>
          </strong>
        </p>

        <div class="pt-3">
          <a href="mailto:deerhou@gmail.com" class="me-3 icon">
            <i class="h5 bi bi-envelope" style="color: snow" aria-hidden="true">
            </i>
            <strong> Contáctame </strong>
          </a>
          <a
            href="https://linkedin.com/in/david-emanuel-espinoza-romero-deerhou/"
            target="_blank"
            rel="noopener noreferrer"
            class="me-3 icon"
          >
            <i class="h5 bi bi-linkedin" aria-hidden="true"> </i>
            <strong> LinkedIn </strong>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="work-experience" class="mx-5 pb-4">
    <app-work-experience
      class="exp"
      [workExperience]="workExperience"
    ></app-work-experience>
  </section>

  <section id="projects" class="my-5">
    <app-cards-stack [cards]="cards"></app-cards-stack>
  </section>

  <section id="pitch" class="mx-5 pb-4">
    <app-about-me></app-about-me>
  </section>
</main>
