<main class="bg-black text-white">
  <section id="intro" class="card border-0">
    <img
      class="card-img ar-16"
      src="https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt="bg img computer"
    />
    <div
      class="card-img-overlay bg-black opacity-75 d-flex justify-content-center align-items-center"
    >
      <div class="text-center">
        <h2 class="card-title">David Espinoza</h2>
        <p class="card-text">Frontend Developer</p>
      </div>
    </div>
  </section>

  <section id="why-us" class="p-3 my-3 text-center">
    <h3>Why Us?</h3>
    <p>
      Your ingenious ideas. Our state-of-the-art
      <br />
      web development
    </p>
  </section>

  <section id="work-methods" class="row row-cols-2 mx-5 align-items-center">
    <div class="col d-flex" *ngFor="let item of workMethods">
      <i class="fs-1 text-danger" [class]="item.icon"></i>
      <div class="p-3 me-5">
        <h2>{{ item.title }}</h2>
        <p>
          {{ item.description }}
        </p>
      </div>
    </div>
  </section>

  <section id="latest-projects" class="card border-0">
    <img
      class="card-img ar-4"
      src="https://images.pexels.com/photos/4158/apple-iphone-smartphone-desk.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      alt="bg img computer"
    />
    <div
      class="card-img-overlay bg-black opacity-75 d-flex justify-content-center align-items-center"
    >
      <div class="text-center">
        <h2 class="card-title">Our Latest Projects</h2>
        <p class="card-text">
          Today's marketing problems are complex, specialized and ever changing.
          Who can keep up with all the latest trends and technologies? Here I
          am.
        </p>
      </div>
    </div>
  </section>

  <section id="projects" class="card border-0">
    <img
      class="card-img ar-4"
      src="https://images.pexels.com/photos/4158/apple-iphone-smartphone-desk.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      alt="bg img computer"
    />
    <div
      class="card-img-overlay bg-black opacity-75 d-flex justify-content-center align-items-center"
    >
      <button class="btn btn-danger" type="button">View More</button>
    </div>
  </section>

  <section id="" class="p-3 text-center">
    <h3>Internet Marketing</h3>
    <p>
      Get a winning strategy for promoting your business online, including
      <br />
      SEO, advertising and branding
    </p>
  </section>

  <section id="" class="card border-0">
    <img
      class="card-img ar-16"
      src="https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      alt="bg img computer"
    />
    <div
      class="card-img-overlay bg-black opacity-75 d-flex justify-content-center align-items-center"
    >
      <div class="row mx-5">
        <div class="col mx-5 text-center" *ngFor="let item of s3Items">
          <p
            class="fs-2 p-3 mx-auto bg-danger rounded"
            style="width: 3rem; height: 3rem; line-height: 1rem"
          >
            {{ item.number }}
          </p>
          <p class="fs-2">{{ item.title }}</p>
          <p>{{ item.description }}</p>
        </div>
      </div>
    </div>
  </section>

  <section id="" class="p-3 text-center">
    <img
      class="card-img ar-4"
      src="https://images.pexels.com/photos/4158/apple-iphone-smartphone-desk.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      alt="bg img computer"
    />
  </section>

  <section id="" class="card border-0">
    <img
      class="card-img ar-16"
      src="https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      alt="bg img computer"
    />
    <div
      class="card-img-overlay bg-black opacity-75 d-flex justify-content-center align-items-center"
    >
      <div class="row">
        <div class="col text-center">
          <p class="fs-2 p-3 mx-auto rounded">
            Industry Expertise +
            <br />
            Laser-Focused Team =
            <br />
            <strong class="fs-1 text-danger">SUCCESS</strong>
          </p>
        </div>

        <div class="col">
          <p>
            Businesses know that a single, full-time marketing manager simply
            cannot perform all the roles in digital marketing. Comrade Web
            Agency positions itself as your digital marketing partner: we cover
            all aspects of your website, branding, digital marketing strategy,
            and data analysis, all while owning our results (leads, calls,
            sales, conversions, targeted traffic, etc).
          </p>
        </div>
        <div class="col">
          <img
            class="card-img"
            src="https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="bg img computer"
          />
        </div>
      </div>
    </div>
  </section>
</main>
