<!-- https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 -->
<div class="bg-black text-white">
  <div class="card border-0">
    <img
      class="card-img ar-16"
      src="https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt="bg img computer"
    />
    <div
      class="card-img-overlay bg-black opacity-75 d-flex justify-content-center align-items-center"
    >
      <div>
        <h2 class="card-title">Web Development Studio</h2>
        <p class="card-text">
          Your guide to summiting the peak of digital success
        </p>
      </div>
    </div>
  </div>

  <div class="p-3 text-center">
    <h3>Internet Marketing</h3>
    <p>
      Get a winning strategy for promoting your business online, including
      <br />
      SEO, advertising and branding
    </p>
  </div>

  <div class="card border-0">
    <img
      class="card-img ar-16"
      src="https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt="bg img computer"
    />
    <div
      class="card-img-overlay bg-black opacity-75 d-flex justify-content-center align-items-center"
    >
      <div class="row">
        <div class="col text-center">
          <p class="fs-2 p-3 bg-white rounded">1</p>
          <p class="fs-2">Find</p>
          <p>
            We will find clients in your area looking for your business services
            through our targeted marketing systems.
          </p>
        </div>
        <div class="col text-center">
          <p class="fs-2 p-3 bg-white rounded">1</p>
          <p class="fs-2">Find</p>
          <p>
            We will find clients in your area looking for your business services
            through our targeted marketing systems.
          </p>
        </div>
        <div class="col text-center">
          <p class="fs-2 p-3 bg-white rounded">1</p>
          <p class="fs-2">Find</p>
          <p>
            We will find clients in your area looking for your business services
            through our targeted marketing systems.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
