<!-- https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 -->

<div class="card">
  <img
    class="card-img ar-16"
    src="https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    alt=""
  />
  <div
    class="card-img-overlay bg-black opacity-75 text-white d-flex justify-content-center align-items-center"
  >
    <h2 class="card-title">Web Development Studio</h2>
    <p class="card-text">Your guide to summiting the peak of digital success</p>
  </div>
</div>
display: flex!important; justify-content: center; align-items: center;
