<!-- https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 -->
<div class="bg-black text-white">
  <div class="card border-0">
    <img
      class="card-img ar-16"
      src="https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt="bg img computer"
    />
    <div
      class="card-img-overlay bg-black opacity-75 d-flex justify-content-center align-items-center"
    >
      <div>
        <h2 class="card-title">Web Development Studio</h2>
        <p class="card-text">
          Your guide to summiting the peak of digital success
        </p>
      </div>
    </div>
  </div>

  <div class="p-3 text-center">
    <h3>Internet Marketing</h3>
    <p>
      Get a winning strategy for promoting your business online, including
      <br />
      SEO, advertising and branding
    </p>
  </div>

  <div class="card border-0">
    <img
      class="card-img ar-16"
      src="https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      alt="bg img computer"
    />
    <div
      class="card-img-overlay bg-black opacity-75 d-flex justify-content-center align-items-center"
    >
      <div class="row">
        <div class="col text-center" *ngFor="let item of s3Items">
          <p
            class="fs-2 p-3 mx-auto bg-danger rounded"
            style="width: 3rem;
					height: 3rem;
					line-height: 1rem;"
          >
            {{item.number}}
          </p>
          <p class="fs-2">{{item.title}}</p>
          <p>{{item.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- img.png of devices to responsive -->
<!-- <div class="p-3 text-center">
	<img
	class="card-img ar-4"
	src="https://images.pexels.com/photos/4158/apple-iphone-smartphone-desk.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500"
	alt="bg img computer"
	/>
</div> -->

<div class="card border-0">
  <img
    class="card-img ar-4"
    src="https://images.pexels.com/photos/4158/apple-iphone-smartphone-desk.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500"
    alt="bg img computer"
  />
  <div
    class="card-img-overlay bg-black opacity-75 d-flex justify-content-center align-items-center"
  >
    <div class="text-center">
      <h2 class="card-title">Our Latest Projects</h2>
      <p class="card-text">
        Today's marketing problems are complex, specialized and ever changing.
        Who can keep up with all the latest trends and technologies? We can.
      </p>
    </div>
  </div>
</div>

<div class="card border-0">
  <img
    class="card-img ar-4"
    src="https://images.pexels.com/photos/4158/apple-iphone-smartphone-desk.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500"
    alt="bg img computer"
  />
  <div
    class="card-img-overlay bg-black opacity-75 d-flex justify-content-center align-items-center"
  >
    <button class="btn btn-danger" type="button">View More</button>
  </div>
</div>

<div class="p-3 text-center">
  <h3>Why Us?</h3>
  <p>
    Your ingenious ideas. Our state-of-the-art
    <br />
    web development
  </p>
</div>
